In [198]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [199]:
flats = pd.read_csv('cleaned_flats.csv')
houses = pd.read_csv('cleaned_houses.csv')

In [200]:
flats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2997 entries, 0 to 2996
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    2997 non-null   object
 1   property_type    2997 non-null   object
 2   society          2996 non-null   object
 3   price            2996 non-null   float64
 4   price_per_sqft   2996 non-null   float64
 5   area             2996 non-null   float64
 6   areaWithType     2997 non-null   object
 7   bedRoom          2997 non-null   int64
 8   bathroom         2997 non-null   int64
 9   balcony          2997 non-null   object
 10  additionalRoom   1692 non-null   object
 11  address          2991 non-null   object
 12  floorNum         2995 non-null   object
 13  facing           2123 non-null   object
 14  agePossession    2996 non-null   object
 15  nearbyLocations  2906 non-null   object
 16  description      2997 non-null   object
 17  furnishDetails   2200 non-null   object
 18  features         2590 non-null   object
 19  rating           2668 non-null   object
dtypes: float64(3), int64(2), object(15)
memory usage: 468.4+ KB

In [201]:
flats.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
524,3 BHK Flat in Palam Vihar,flat,bestech park view residency,1.36,7646.0,1779.0,Super Built up area 1780(165.37 sq.m.),3,3,3+,NaN,"Palam Vihar, Gurgaon, Haryana",5th of 14 Floors,South-West,5 to 10 Year Old,"['Dwarka Sector 21 Metro Station', 'HUDA Marke...",Bestech park view residency is one of gurgaon'...,"['3 Wardrobe', '5 Fan', '2 Geyser', '5 Light',...","['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Green Area5 out of 5', 'Construction4 out of..."
1804,3 BHK Flat in Sector 92 Gurgaon,flat,bestech park view sanskruti,1.42,7760.0,1830.0,Super Built up area 1920(178.37 sq.m.),3,3,2,NaN,"Tower, Sector 92 Gurgaon, Gurgaon, Haryana",10th of 19 Floors,East,1 to 5 Year Old,"['Sapphire 93 Mall', 'Dwarka Expressway', 'NH-...",This 3 bhk apartment is available for sale in ...,"['9 Light', '5 AC', '1 Modular Kitchen', 'No B...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."
670,3 BHK Flat in Sector 71 Gurgaon,flat,chd avenue,1.12,6215.0,1802.0,Super Built up area 1802(167.41 sq.m.),3,4,3,Servant Room,"Sector 71 Gurgaon, Gurgaon, Haryana",Ground of 14 Floors,South-East,5 to 10 Year Old,"['Huda City Centre', 'Apna Mart', 'Rajiv Chowk...",Chd avenue 71 sector 71gurgaon.\n Additional d...,[],"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction3 out of..."
1321,3 BHK Flat in Sector 59 Gurgaon,flat,mahindra luminare,5.80,19173.0,3025.0,Carpet area: 3025 (281.03 sq.m.),3,4,3,Servant Room,"3bhk Flat, Sector 59 Gurgaon, Gurgaon, Haryana",16th of 30 Floors,North-East,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'Metro World Ma...",3bhk flat for sale in mahindra luminare,"['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '4 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction5 out of..."
260,4 BHK Flat in Sector 1 Imt Manesar,flat,sonata group housing gh 24,1.65,5892.0,2800.0,Carpet area: 2800 (260.13 sq.m.),4,3,3,Servant Room,"Sector 1 Imt Manesar, Gurgaon, Haryana",8th of 10 Floors,NaN,0 to 1 Year Old,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",This 4 bhk flat is located in sonata group hou...,NaN,"['Lift(s)', 'Maintenance Staff', 'Water Storag...","['Environment5 out of 5', 'Safety4.5 out of 5'..."

In [202]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    977 non-null    object
 1   property_type    977 non-null    object
 2   society          403 non-null    object
 3   price            958 non-null    float64
 4   price_per_sqft   958 non-null    float64
 5   area             958 non-null    float64
 6   areaWithType     977 non-null    object
 7   bedRoom          977 non-null    int64
 8   bathroom         977 non-null    int64
 9   balcony          977 non-null    object
 10  additionalRoom   589 non-null    object
 11  address          972 non-null    object
 12  floorNum         957 non-null    float64
 13  facing           673 non-null    object
 14  agePossession    977 non-null    object
 15  nearbyLocations  861 non-null    object
 16  description      977 non-null    object
 17  furnishDetails   740 non-null    object
 18  features         674 non-null    object
 19  rating           856 non-null    object
dtypes: float64(4), int64(2), object(14)
memory usage: 152.8+ KB

In [203]:
df = pd.concat([flats,houses],ignore_index=True)

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3974 entries, 0 to 3973
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3974 non-null   object
 1   property_type    3974 non-null   object
 2   society          3399 non-null   object
 3   price            3954 non-null   float64
 4   price_per_sqft   3954 non-null   float64
 5   area             3954 non-null   float64
 6   areaWithType     3974 non-null   object
 7   bedRoom          3974 non-null   int64
 8   bathroom         3974 non-null   int64
 9   balcony          3974 non-null   object
 10  additionalRoom   2281 non-null   object
 11  address          3963 non-null   object
 12  floorNum         3952 non-null   object
 13  facing           2796 non-null   object
 14  agePossession    3973 non-null   object
 15  nearbyLocations  3767 non-null   object
 16  description      3974 non-null   object
 17  furnishDetails   2940 non-null   object
 18  features         3264 non-null   object
 19  rating           3524 non-null   object
dtypes: float64(3), int64(2), object(15)
memory usage: 621.1+ KB

In [205]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2541,2 BHK Flat in Sector 89 Gurgaon,flat,smart world gems,0.95,8600.0,1105.0,Carpet area: 1103 (102.47 sq.m.),2,2,2,"Study Room,Servant Room","O 118d, Sector 89 Gurgaon, Gurgaon, Haryana",4th of 4 Floors,NaN,Within 6 months,"['Sant Soordas Sihi Metro Station', 'Airia Mal...",Smartworld gem4 th floor new construction,NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3764,4 Bedroom House for sale in Sector 91 Gurgaon,house,NaN,3.60,14815.0,2430.0,Plot area 270(225.75 sq.m.),4,4,3,NaN,"Sector 91 Gurgaon, Gurgaon, Haryana",2.0,North-East,0 to 1 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",This 4 bhk house for sale in sector 91 gurgaon...,"['4 Wardrobe', '9 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
2637,3 BHK Flat in Sector 59 Gurgaon,flat,conscient elevate,3.90,16993.0,2295.0,Built Up area: 2295 (213.21 sq.m.),3,1,0,NaN,"Sector 59, Sector 59 Gurgaon, Gurgaon, Haryana",Ground of 1 Floors,NaN,undefined,"['Rapid Metro Station Sector 55', 'Paras Trini...",Best in class property available at sector 59 ...,NaN,NaN,NaN
1795,3 BHK Flat in Sector 69 Gurgaon,flat,tulip violet,1.40,8856.0,1581.0,Super Built up area 1578(146.6 sq.m.),3,3,2,Pooja Room,"902, Sector 69 Gurgaon, Gurgaon, Haryana",9th of 14 Floors,West,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...",This 3 bhk apartment is available for sale in ...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4 out of..."
479,3 BHK Flat in Sector 90 Gurgaon,flat,dlf regal gardens,1.30,7150.0,1818.0,Super Built up area 1818(168.9 sq.m.)Built Up ...,3,3,3+,NaN,"Sector 90 Gurgaon, Gurgaon, Haryana",7th of 29 Floors,South,1 to 5 Year Old,"['SS Omnia, Sector 86', 'Numberdar market, IMT...",Located in the popular residential address of ...,NaN,"['Water purifier', 'Security / Fire Alarm', 'P...","['Green Area5 out of 5', 'Construction4.5 out ..."

In [206]:
df.shape

(3974, 20)

In [207]:
sector_values = df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip()

In [208]:
df.insert(loc=3,column='sector',value=sector_values)

In [209]:
df.sample(5)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2417,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,Sector 61,1.55,13478.0,1150.0,Super Built up area 1150(106.84 sq.m.),2,2,1,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",3rd of 4 Floors,NaN,By 2023,"['Sector 55-56 Metro station', 'Bestech Centra...","Gated community, possession in 6 months. Terra...","['3 Fan', '1 Exhaust Fan', '4 Light', '3 AC', ...","['Power Back-up', 'Feng Shui / Vaastu Complian...",NaN
2893,2 BHK Flat in Sector 89 Gurgaon,flat,greenopolis,Sector 89,0.80,6168.0,1297.0,Carpet area: 1297 (120.5 sq.m.),2,2,2,NaN,"Sector 89 Gurgaon, Gurgaon, Haryana",6th of 11 Floors,South,Under Construction,"['Orris Community Center', 'Indian Oil', 'Essa...",Greenopolis is an innovatively designed habita...,NaN,"['Security / Fire Alarm', 'Intercom Facility',...","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
2576,4 BHK Flat in Sector 99 Gurgaon,flat,assotech blith,Sector 99,1.90,6702.0,2835.0,Built Up area: 2835 (263.38 sq.m.),4,4,3+,NaN,"Sector 99, Sector 99 Gurgaon, Gurgaon, Haryana",2nd of 2 Floors,North-East,undefined,"['Huda Metro Station (Gurugram)', 'Dwarka Expr...",Best in class property available at sector 99 ...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4.5 out of 5', 'Lifestyle4 out of..."
1546,2 BHK Flat in Sector 81 Gurgaon,flat,bestech park view ananda,Sector 81,0.95,10626.0,894.0,Super Built up area 1360(126.35 sq.m.)Carpet a...,2,2,2,NaN,"Sector 81 Gurgaon, Gurgaon, Haryana",2nd of 15 Floors,North-East,1 to 5 Year Old,"['Metro Station Kankrola sec 87', 'Sapphire 83...","A 1360sqft 2 bedroom flat, located in sector-8...","['2 Wardrobe', '5 Fan', '1 Exhaust Fan', '6 Li...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."
1679,3 BHK Flat in Sector 49 Gurgaon,flat,vatika city,Sector 49,2.64,11725.0,2252.0,Super Built up area 2251.42(209.16 sq.m.)Built...,3,4,3+,"Servant Room,Pooja Room","Vatika City, Sector 49 Gurgaon, Gurgaon, Haryana",2nd of 17 Floors,East,5 to 10 Year Old,"['BOB ATM', 'PNB ATM', 'HDFC bank ATM', 'YES b...",A very good 3bhk plus servant plus store flat ...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '4 Ge...","['Water purifier', 'Power Back-up', 'Feng Shui...","['Green Area5 out of 5', 'Construction4 out of..."

In [210]:
df['sector'].value_counts()

sector
Sohna                                                        163
Sector 102                                                   113
Sector 85                                                    110
Sector 92                                                    104
Sector 69                                                     94
Sector 90                                                     90
Sector 81                                                     90
Sector 65                                                     90
Sector 109                                                    88
Sector 79                                                     80
Sector 83                                                     69
Sector 86                                                     68
Sector 37D                                                    68
Sector 104                                                    66
Sector 107                                                    60
Sector 108                                                    59
Sector 48                                                     58
Sector 56                                                     57
Sector 95                                                     57
Sector 89                                                     56
Sector 70A                                                    55
Sector 37C                                                    53
Nirvana Country                                               53
Sector 70                                                     53
Palam Vihar                                                   52
Sector 84                                                     51
Sector-33 Sohna                                               51
Sector 67                                                     48
Sector 66                                                     46
Sector 103                                                    45
DLF Phase 1                                                   44
Sector 113                                                    43
DLF Phase 2                                                   43
Sector 61                                                     42
Sector 82                                                     42
Sector 106                                                    38
Sector 49                                                     36
Sector 99A                                                    32
Sushant Lok Phase 1                                           31
Sector 68                                                     30
Sector 77                                                     29
Sector 72                                                     29
Laxman Vihar                                                  27
Sector 71                                                     27
Sector 54                                                     27
DLF Phase 4                                                   26
Sector 112                                                    25
Sector 33                                                     23
Sector 88A                                                    23
Sector 111                                                    22
Sector 67A                                                    22
DLF Phase 3                                                   22
Sector 22                                                     20
Sector 82A                                                    20
Sector 78                                                     19
Sector 91                                                     18
Sector 63A                                                    18
Sector 74                                                     18
Sector 62                                                     17
Sushant Lok Phase 3                                           16
Sector 99                                                     16
Sector 110                                                    16
Sector 60                                                     15
Sector 14                                                     15
Sector 63                                                     15
Rajendra Park                                                 14
Gwal Pahari                                                   14
DLF Phase 5                                                   14
Sector 53                                                     14
Sector 1 Imt Manesar                                          14
Sector 76                                                     14
Sector 3                                                      14
Sector 52                                                     14
Sector 46                                                     13
Laxman Vihar Phase 2                                          13
Uppals Southend                                               13
Sector 36A                                                    13
Sector 50                                                     12
Sector 38                                                     12
Sector 39                                                     12
Sector 93                                                     12
Sector 31                                                     12
Sohna Road                                                    12
Sector 9A                                                     11
Sector 47                                                     11
Ashok Vihar Phase 3 Extension                                 11
Sector 55                                                     10
Sector 7                                                      10
Sector 1A IMT Manesar                                         10
C Block Sushant Lok Phase 1                                    9
South City 1                                                   9
Ashok Vihar Phase 2                                            9
Sector 4                                                       9
Sector 95A                                                     9
Sector 10A                                                     8
Dwarka Expressway                                              8
Malibu Town                                                    8
Sector 43                                                      8
Sector 59                                                      8
Sector 89 A                                                    8
Palam Vihar Extension                                          8
Sector 40                                                      8
Sector 57                                                      8
Mehrauli  Road                                                 8
Sector 26                                                      7
sector 58                                                      7
Surat Nagar 1                                                  7
Sector 36 Sohna                                                7
Mianwali Colony                                                7
Sector 51                                                      7
New Colony                                                     7
Sector 11                                                      7
Greenwood City                                                 6
Jyoti Park                                                     6
Rajiv Nagar                                                    6
Sector 1                                                       6
Sector 5                                                       6
Jacobpura                                                      6
Ashok Vihar                                                    6
New Palam Vihar                                                5
Sushant Lok Phase 2                                            5
Ansal Plaza                                                    5
Dayanand Colony                                                5
Subhash Nagar                                                  5
Sector 23A                                                     5
Sector 30                                                      5
Sector 28                                                      5
Chakkarpur                                                     5
Sector 2                                                       5
Saraswati Vihar                                                5
Manesar                                                        5
Arjun Nagar                                                    5
Sector 9                                                       5
Sector 80                                                      5
Sector 105                                                     5
Sector 17                                                      4
Sector 36                                                      4
Sector 3A                                                      4
Sector 6                                                       4
Krishna Colony                                                 4
Baldev Nagar                                                   4
Garhi Harsaru                                                  4
Sector 12A                                                     4
Bhim Nagar                                                     4
Suncity                                                        4
Madanpuri                                                      4
Shivpuri                                                       4
Vishnu Garden                                                  4
Sector 12                                                      4
Devilal Colony                                                 4
Ravi Nagar                                                     4
Sector 45                                                      4
Bhondsi                                                        4
Dharam Colony                                                  4
IMT Manesar                                                    4
Shivaji Nagar                                                  4
Adarsh Nagar                                                   4
Valley View Estate                                             4
Surya Vihar                                                    4
New                                                            4
Sector 17B                                                     3
Sector 88B                                                     3
Sector 27                                                      3
A Block Sushant Lok Phase 1                                    3
Sector 17A                                                     3
B Block Sushant Lok Phase 1                                    3
Sector 23                                                      3
Sector 15                                                      3
Sector 110 A                                                   3
Sector 8                                                       3
Maruti Kunj                                                    3
MG Road                                                        3
Patel Nagar                                                    3
Shakti Nagar                                                   3
Laxmi Garden                                                   3
Prem Nagar                                                     3
Sector 73                                                      3
Gandhi Nagar                                                   3
New Basti                                                      2
Block A Surya Vihar                                            2
Bhawani Enclave                                                2
Mayfield Garden                                                2
Golf Course Road                                               2
Pratap Nagar                                                   2
Manohar Nagar                                                  2
IFFCO Chowk                                                    2
Sector 15 Part 1                                               2
Samaspur                                                       2
Sushant Lok                                                    2
Lajpat Nagar                                                   2
New Palam Vihar Phase 1                                        2
Sector 15 Part 2                                               2
Nars                                                           2
Mohan Nagar                                                    2
Daulatabad                                                     2
Ambience Island                                                2
Hira Nagar                                                     2
Sector-2 Sohna                                                 2
Sector 24                                                      2
Shankar Vihar                                                  2
New Palam Vihar Phase 2                                        2
Sector 32                                                      2
Golf Course Ext Road                                           2
Sispal Vihar                                                   2
Faridabad Road                                                 2
West Rajiv Nagar                                               2
Acharya Puri                                                   2
Sector 41                                                      2
Surat Nagar                                                    2
Shanti Nagar                                                   2
Sector 21                                                      2
Sector-11 sohna                                                2
Sohna  Road                                                    2
Surat Nagar Phase 2                                            2
Sheetla Colony                                                 2
Farukhnagar                                                    2
, Delhi NCR                                                    2
Rajiv Chowk                                                    2
Rosewood                                                       2
Bissar                                                         2
HUDA Saraswati Vihar                                           1
Sector 42                                                      1
B1 Block Sector 57                                             1
laxmna vihar, phase 2                                          1
Saraswati Enclave                                              1
Sec 3 Bhim Vihar Part 1 Bhimgher Kheri                         1
Near euro                                                      1
Bhimgarh Kheri Phase 3                                         1
New Colony, Sector 7                                           1
Carterpuri Village                                             1
Sector-35 Sohna                                                1
Sector 37A                                                     1
Civil L                                                        1
BPTP                                                           1
Godrej Aria , sector 79 ,                                      1
Sector 4 Urban Estate                                          1
saroop garden rajendra park                                    1
near sector 1 market                                           1
Bhora Kalan                                                    1
near nand hospital                                             1
Kanahi                                                         1
Sector 9B                                                      1
Kheri                                                          1
Sector 17C                                                     1
Heritage City                                                  1
Jat Colony,Fazilpur/Taj Nagar Road                             1
Gopal Nagar, Garhi Ghasita, Sonipat                            1
Hsiidc Plot Sector 1 Imt Manesar                               1
Sector 21A Faridabad                                           1
Sai Kunj                                                       1
Sultanpur                                                      1
Sector-5 Sohna                                                 1
old delhi road, opp sector-14                                  1
ats marigold                                                   1
Cyber City                                                     1
Near Pataudi Chowk                                             1
Nirvana country Pocket H                                       1
Sector 5 chowk                                                 1
Pataudi Road                                                   1
Part 3 Sector 5                                                1
Lucknow                                                        1
Ram Nagar                                                      1
Sector 13                                                      1
Hno 13 Sagar enclave Sura                                      1
Near Khandsa Road                                              1
URBAN ESTATE, SECTOR 5                                         1
Ashok Vihar Phase I                                            1
Block H Ashok Vihar Phase III Extension                        1
Khandsa                                                        1
Sector-7 Hous                                                  1
Block G Sector-57                                              1
Rajiv Colony                                                   1
Garauli Kalan                                                  1
Vir Nagar                                                      1
Om Nagar                                                       1
Tekchand Nagar                                                 1
Anand Garden, Sector-105                                       1
Udyog Vihar Phase 1                                            1
Mahalaxmi Garden, Rajendra Place                               1
Sadar Bazar                                                    1
Rattan Garden                                                  1
Ansal's Palam Vihar                                            1
Jacobpura Near Sadar Bazar                                     1
Shivji Park Colony                                             1
Ashok Vihar Phase 3                                            1
Damdma                                                         1
sector-5 sheetla colony                                        1
Laxman Vihar, Railway Road,                                    1
Naharpur Rupa                                                  1
G block DLF City Phase 1                                       1
New Jyoti Park                                                 1
Mahavir pura                                                   1
Sector 37B                                                     1
Begampur Khatola                                               1
ravi nager basai road                                          1
Park View                                                      1
Dhankot                                                        1
Alipur                                                         1
devi lal colony gali no 12 gurgaon nr omkar public school      1
South City                                                     1
V Block DLF Phase 3                                            1
Name: count, dtype: int64

In [211]:
df['sector'] = df['sector'].str.lower().str.strip()

In [212]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')

df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [213]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3].index

In [217]:
df = df[df['sector'].isin(a)]

In [218]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')

df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','sector 1')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','sector 1')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [219]:
df['sector'].value_counts()

sector
sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 90                      90
sector 65                      90
sector 81                      90
sector 109                     88
sector 79                      80
sector 33                      74
sector 104                     73
sector 83                      69
sector 43                      68
sector 37d                     68
sector 86                      68
sector 95                      66
sector 2                       65
sector 50                      65
sector 89                      64
sector 107                     60
sector 108                     59
sector 48                      58
sector 56                      57
sector 70a                     55
sector 37c                     53
sector 70                      53
sector 84                      51
sector 26                      51
sector 4                       49
sector 49                      49
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 25                      43
sector 113                     43
sector 61                      42
sector 82                      42
sector 7                       39
sector 106                     38
sector 12                      37
sector 99a                     32
sector 54                      31
sector 1                       30
sector 68                      30
sector 72                      29
sector 77                      29
sector 71                      27
sector 112                     25
sector 57                      24
sector 3                       24
sector 24                      24
sector 14                      23
sector 88a                     23
sector 105                     23
sector 111                     22
sector 67a                     22
sector 11                      21
sector 22                      20
sector 82a                     20
sector 78                      19
sector 47                      19
sector 110                     19
sector 63a                     18
sector 91                      18
sector 74                      18
gwal pahari                    18
sector 62                      17
sector 99                      16
sector 60                      15
sector 55                      15
sector 63                      15
sector 52                      14
sector 53                      14
sector 76                      14
sector 6                       13
sector 23                      13
sector 36a                     13
sector 46                      13
sector 9                       13
sector 93                      12
sector 31                      12
sector 39                      12
sector 38                      12
sohna road road                12
sector 41                      11
sector 36                      11
sector 3 phase 3 extension     11
sector 9a                      11
sector 45                      10
sector 13                      10
manesar                         9
sector 3 phase 2                9
dwarka expressway               8
sector 59                       8
sector 17                       8
sector 10a                      8
sector 8                        8
sector 40                       8
sector 58                       7
sector 51                       7
sector 5                        6
sector 15                       6
sector 21                       6
new sector 2                    5
sector 80                       5
sector 30                       5
new                             4
sector 88b                      3
sector 73                       3
sector 17a                      3
sector 17b                      3
sector 27                       3
Name: count, dtype: int64

In [221]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2045,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"Study Room,Servant Room","New Gurgaon, Gurgaon, Haryana",4th of 10 Floors,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
2803,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,NaN,"New Gurgaon, Gurgaon, Haryana",3rd of 12 Floors,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
2895,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,NaN,"New Gurgaon, Gurgaon, Haryana",7th of 15 Floors,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
2960,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,NaN,"New Gurgaon, Gurgaon, Haryana",3rd of 4 Floors,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN

In [222]:
df.loc[2045,'sector'] = 'sector 76'
df.loc[2803,'sector'] = 'sector 37'
df.loc[2895,'sector'] = 'sector 90'
df.loc[2960,'sector'] = 'sector 92'

In [225]:
new_sector_2 = df[df['sector'] == 'new sector 2'].index

In [226]:
df.loc[new_sector_2,'sector'] = 'sector 110'

In [227]:
df['sector'].value_counts()

sector
sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     105
sector 69                      94
sector 90                      91
sector 65                      90
sector 81                      90
sector 109                     88
sector 79                      80
sector 33                      74
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      68
sector 43                      68
sector 95                      66
sector 50                      65
sector 2                       65
sector 89                      64
sector 107                     60
sector 108                     59
sector 48                      58
sector 56                      57
sector 70a                     55
sector 70                      53
sector 37c                     53
sector 84                      51
sector 26                      51
sector 4                       49
sector 49                      49
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 25                      43
sector 113                     43
sector 82                      42
sector 61                      42
sector 7                       39
sector 106                     38
sector 12                      37
sector 99a                     32
sector 54                      31
sector 1                       30
sector 68                      30
sector 72                      29
sector 77                      29
sector 71                      27
sector 112                     25
sector 24                      24
sector 3                       24
sector 57                      24
sector 110                     24
sector 105                     23
sector 14                      23
sector 88a                     23
sector 67a                     22
sector 111                     22
sector 11                      21
sector 82a                     20
sector 22                      20
sector 78                      19
sector 47                      19
sector 91                      18
gwal pahari                    18
sector 63a                     18
sector 74                      18
sector 62                      17
sector 99                      16
sector 55                      15
sector 76                      15
sector 60                      15
sector 63                      15
sector 53                      14
sector 52                      14
sector 9                       13
sector 36a                     13
sector 46                      13
sector 6                       13
sector 23                      13
sector 31                      12
sector 39                      12
sector 38                      12
sohna road road                12
sector 93                      12
sector 36                      11
sector 3 phase 3 extension     11
sector 9a                      11
sector 41                      11
sector 13                      10
sector 45                      10
sector 3 phase 2                9
manesar                         9
sector 59                       8
dwarka expressway               8
sector 10a                      8
sector 8                        8
sector 40                       8
sector 17                       8
sector 51                       7
sector 58                       7
sector 15                       6
sector 5                        6
sector 21                       6
sector 80                       5
sector 30                       5
sector 88b                      3
sector 73                       3
sector 17b                      3
sector 17a                      3
sector 27                       3
sector 37                       1
Name: count, dtype: int64

In [228]:
df.shape

(3816, 21)

In [231]:
df.duplicated().sum()

np.int64(13)

In [232]:
df.drop_duplicates(inplace=True)

In [233]:
df.shape

(3803, 21)

In [234]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [235]:
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
523,flat,eros wembley estate,sector 50,1.40,10174.0,1376.0,Super Built up area 1376(127.83 sq.m.),3,3,2,Store Room,9th of 13 Floors,East,1 to 5 Year Old,"['Sri Radhe Krishna Temple', 'Standard charter...","['2 Wardrobe', '1 Water Purifier', '5 Fan', '1...","['Security / Fire Alarm', 'Power Back-up', 'Fe..."
3515,house,NaN,sector 14,4.60,20444.0,2250.0,Built Up area: 2250 (209.03 sq.m.),1,1,No,NaN,1.0,NaN,undefined,"['Hsbc bank ATM', 'Hdfc bank ATM', 'State bank...",NaN,NaN
99,flat,godrej oasis,sector 88a,1.29,7800.0,1654.0,Super Built up area 1629(151.34 sq.m.)Carpet a...,3,3,3,"Study Room,Others",5th of 15 Floors,NaN,0 to 1 Year Old,"['Double Infinity market', 'Pataudi road', 'Dw...",[],"['Feng Shui / Vaastu Compliant', 'Intercom Fac..."
1682,flat,emaar gurgaon greens,sector 102,1.45,8787.0,1650.0,Super Built up area 1650(153.29 sq.m.),3,3,2,Servant Room,7th of 14 Floors,South-West,1 to 5 Year Old,"['JMS Marine Square Mall', 'Dwarka Expressway'...","['5 Fan', '3 Geyser', '10 Light', '4 AC', '1 M...","['Centrally Air Conditioned', 'Water purifier'..."
2743,flat,smart world gems,sector 89,0.90,8159.0,1103.0,Super Built up area 1103(102.47 sq.m.),2,2,2,"Study Room,Others",2nd of 4 Floors,East,Within 6 months,"['Sant Soordas Sihi Metro Station', 'Airia Mal...",NaN,"['Intercom Facility', 'Lift(s)', 'Maintenance ..."

In [236]:
df.shape

(3803, 17)

In [238]:
df.duplicated().sum()

np.int64(122)

In [239]:
df.to_csv('final_cleaned_v1.csv', index=False)